.detail {
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
    display: flex;
    font-size: 1.4rem;
    padding: 4.5rem;
}

@media only screen and (max-width: 56.25em) {
    .detail {
        padding: 3rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .detail {
        flex-direction: column;
    }
}


@media only screen and (max-width: 56.25em) {
    .content {
        flex-direction: column;
    }
}

/* PARAGRAPH */
.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}
