/* Flex Item */
.sidebar {
    background-color: var(--color-grey-dark-1);
    display: flex;
    flex: 0 0 18%; /* no grow, no shrink, keep width at 18% */
    flex-direction: column;
    justify-content: space-between;
}

/* SIDE NAVIGATION */
.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;
}

.side-nav__item {
    position: relative;
}

.side-nav__item:not(:last-child) {
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 56.25em) {
    .side-nav {
        display: flex;
        margin-top: 0;
    }

    .side-nav__item {
        flex: 1;
    }

    .side-nav__item:not(:last-child) {
        margin: 0;
    }
}

.side-nav__item::before {
    background-color: var(--color-primary);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
        background-color 0.1s;
    width: 3px;
}
.side-nav__item:hover::before,
.side-nav__item--active::before {
    transform: scaleY(
        1
    ); /* grows from the middle because of transform-origin: center */
    width: 100%;
}

.side-nav__item:active::before {
    background-color: var(--color-primary-light);
}

.side-nav__link:link,
.side-nav__link:visited {
    color: var(--color-grey-light-1);
    padding: 1.5rem 3rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 10; /* only works in that position */
    display: flex;
    align-items: center; /* vertically align items in this container */
}

@media only screen and (max-width: 56.25em) {
    .side-nav__link:visited {
        justify-content: center;
        padding: 2rem;
    }
}

.side-nav__icon {
    fill: currentColor;
    height: 1.75rem;
    margin-right: 2rem;
    width: 1.75rem;
}

@media only screen and (max-width: 37.5em) {
    .side-nav__icon {
        height: 2rem;
        margin-right: 0;
        width: 2rem;
    }

    .side-nav span {
        display: none;
    }
}

/* LEGAL TEXT */
.legal {
    color: var(--color-grey-light-4);
    font-size: 1.2rem;
    padding: 2.5rem;
    text-align: center;

    @media only screen and (max-width: 56.25em) {
        display: none;
    }
}