.content {
    display: flex;
}

/* CALL TO ACTION */
.btn {
    background-image: linear-gradient(
        to right,
        var(--color-primary-light),
        var(--color-primary-dark)
    );
    border: none;
    border-radius: 100px;
    color: var(--color-white);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 300;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
}

.btn > * {
    display: inline-block;
    height: 100%;
    transition: all 0.2s;
    width: 100%;
}

.btn__visible {
    padding: 2rem 7.5rem;
}

.btn__invisible {
    position: absolute;
    left: 0;
    padding: 2rem 0;
    top: -100%; /* move up exactly the size of the element */
}

.btn:hover {
    background-image: linear-gradient(
        to left,
        var(--color-primary-light),
        var(--color-primary-dark)
    );
}

.btn:hover .btn__visible {
    transform: translateY(100%);
}

.btn:hover .btn__invisible {
    top: 0;
}

.btn:focus {
    animation: pulsate 1s infinite;
    outline: none;
}
